* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;

    @media (max-width: 576px) {
        font-size: 90%;
    }
}

body {
    height: 100vh;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
}

pre {
    font-weight: 600;
}

@mixin glassBox() {
    background: rgba(255, 255, 255, 0.58);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.34);
    @media (max-width: 768px) {
        background: rgba(255, 255, 255, 0.78);
    }
}

nav {
    position: fixed;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 250px;
    overflow: hidden;
    text-transform: uppercase;
    top: 1rem;
    left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    @include glassBox();
    z-index: 5;
}

ul {
    width: 100%;
    list-style: none;
}

li {
    margin-bottom: 0.3rem;
    overflow: hidden;
    &:last-child {
        margin-bottom: 0;
    }
}

nav a {
    display: flex;
    color: rgba(0, 0, 0, 0.3);
    justify-content: center;
    text-decoration: none;
    padding: 0.2em 0.4em;
    transition: 0.2s;
    text-transform: uppercase;

    &.smaller {
        font-size: 0.9em;
        &.active {
            font-size: 1.2em;
        }
    }

    &.active {
        font-size: 1.4em;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.4rem;
        background-color: rgba(255, 255, 255, 0.9);
        color: black;
    }
}

section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    padding: 2rem;
    text-align: center;
    transition: color 0.5s, opacity 0.3s;
    letter-spacing: 0.025rem;

    &:nth-child(3n):not(:last-child) {
        min-height: 60vh;
    }

    span {
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        font-size: 3rem;

        &::before {
            content: "";
            font-size: 1rem;
            height: 3em;
        }

        &::after {
            content: "Active";
            font-size: 1rem;
            height: 0;
            text-decoration: none;
            overflow: hidden;
            transition: 0.6s;
            height: 3em;
            line-height: 9em;
        }
    }

    p {
        line-height: 2em;
    }

    p + p {
        margin-top: 2rem;
    }

    strong {
        background: rgba(0, 0, 0, 0.6);
        border-radius: 0.4rem;
        font-size: 0.95em;
        padding: 0.2rem 0.4rem;
        color: white;
        mix-blend-mode: multiply;
        white-space: nowrap;
        transition: 0.3s;
    }
    a {
        text-decoration: none;
        font-size: 1.3em;

        strong {
            &:hover {
                mix-blend-mode: unset;
                color: white;
            }
        }

        &:hover strong {
            background: rgba(0, 0, 0, 0.8);
        }
    }
}

#section-2 {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    padding-top: 0;
    height: 120vh;

    > span {
        height: 50%;
        justify-content: center;
    }

    > div {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        width: 100%;
        height: 50%;
        justify-content: center;
        align-items: center;
    }
}

#section-2 > div,
section {
    body.sections-on & {
        color: #404040;

        &.active {
            color: #1b1b1b;
        }
    }
}

div.active > span::after,
section.active > span::after {
    line-height: 3em;
}

.mainOptions {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    padding: 1rem;
    transition: 0.6s;
    z-index: 10;

    @include glassBox();

    > *:not(.mobile-button) {
        display: flex;
        width: 100%;
        justify-content: space-between;
        gap: 1rem;
        align-items: center;
        line-height: 1.8em;
    }

    @media (max-width: 650px) {
        transform: translateY(calc(100% + 1.1rem));
        left: 1rem;

        &.active {
            transform: translateY(0%);
        }

        .mainOptions i {
            transition: 0.3s;
        }

        .mainOptions.active .mobile-button i {
            transform: rotateX(180deg);
        }
    }

    @media (max-width: 450px) {
        .normal-box {
            flex-direction: column;
            align-items: flex-start;
        }
    }
}

.mobile-button {
    display: flex;
    position: absolute;
    left: 50%;
    bottom: calc(105% - 1px);
    transform: translateX(-50%);
    width: 3rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    @include glassBox();
    border-radius: 100%;

    &:hover {
        cursor: pointer;
    }

    &.active i {
        transform: rotateX(180deg);
    }

    @media (min-width: 650px) {
        display: none;
    }
}

/* Borrowed from internet */
/* Switch - Thanks to w3schools */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }
}

.switch-box .switch {
    flex-shrink: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    @include glassBox();
    border-radius: 0;
    background-color: #1c1c1ca8 !important;

    &::before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 3px;
        bottom: 3px;
        background-color: white;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }
}

input:checked + .slider {
    background-color: #2195f3 !important;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3 !important;
}

input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}
